.titulo{
font-size:30px;
font-style: italic;
color: aliceblue;
align-items: start;
}

.opcao{
font-size:30px;
font-style: italic;
color: aliceblue;
align-items: end;
margin-left: 600px;
}

.centro{
background-image: url("images/descendentes.jpg");
height: 50vh;
min-height: 100px;
background-size: cover;
border-bottom: 60px;
display: flex;
}

.seguimento {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
  .paragrafo1{
    font-style: italic;
    font-size: 70px;
  }

  .h1{
    font-size: 30px;
  }

  .picapau{
    width: 500px;
    height: 400px;
  }
