.titulo{
font-size:30px;
font-style:Georgia;
align-items: start;
}

.opcao{
font-size:30px;
font-style:Georgia;
align-items: end;
margin-left: 900px;
}

.centro{
background-image: url("images/disneysouluna.jpg");
background-repeat: no-repeat;
background-size: 2000px 1150px;
position: relative;
display: flex;
margin: 0%;
}
