.titulo{
font-size:30px;
font-style: italic;
color: aliceblue;
align-items: start;
}

.opcao{
font-size:30px;
font-style: italic;
color: aliceblue;
align-items: end;
margin-left: 1200px;
}

.centro{
background-image: url("images/descendentes.jpg");
height: 70vh;
min-height: 400px;
min-width: 200px;
background-size: cover;
display: flex;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }

.primeiro{
    font-size: 35px;
    font-style: italic;
    position: relative;

}
.paragrafopri{
    font-size: 50px;
    font-style: italic;
    height: 70vh;
    min-height: 300px;
    min-width: 900px;
    
}

.art{
    float: left;
    height: 70vh;
    min-height: 300px;
    min-width: 900px;
}

.segundo{
    font-size: 30px;
    font-style: italic;
    height: 70vh;
    min-height: 300px;
    min-width: 900px;   
}

.meninas{
    position: relative;
    float: right;
    height: 50vh;
    min-height: 400px;
    min-width: 500px;
}

.xmen{
    position: relative;
    float: right;
    height: 50vh;
    min-height: 400px;
    min-width: 500px;
}
.image{
        position: relative;
        float: right;
        height: 50vh;
        min-height: 400px;
        min-width: 500px;
}
.prims{
    font-size: 40px;
    font-style: italic;
    position: relative; 
}

.div1{
    background-color: #FFF0F5;
}
.div2{
    background-color: #F0FFFF;
}
.div3{
    background-color:#F5FFFA;
}
.div4{
    background-color: #F0FFF0;
}
.div5{
    background-color:#FDF5E6;
}
.div6{
    background-color:#FFFFF0;
}
